parameters:
    reportUnmatchedIgnoredErrors: false

    paths:
        - src
        - tests

    excludePaths:
        - tests/Manager/ModelManagerTest.php

    ignoreErrors:
        - identifier: missingType.iterableValue
        - '/Method FluxSE\\OdooApiClient\\Manager\\ModelListManager::(find|findBy|findByIds)\(\) should return (array<|\()T of FluxSE\\OdooApiClient\\Model\\BaseInterface(>|\)\|null) but returns mixed\./'
        - '/Method FluxSE\\OdooApiClient\\Serializer\\(Json|Xml)Rpc\\(Json|Xml)RpcSerializerHelper::decodeResponseBody\(\) should return array\|bool\|int\|string but returns mixed\./'
        -
            message: '/Method FluxSE\\OdooApiClient\\Serializer\\OdooNormalizer::normalize\(\) return type with generic class ArrayObject does not specify its types: TKey, TValue/'
            count: 1
            path: src/Serializer/OdooNormalizer.php
        # Symfony 6.4
        -
            message: '/Method Symfony\\Component\\Serializer\\Normalizer\\AbstractObjectNormalizer::supportsDenormalization\(\) invoked with 4 parameters, 2-3 required\./'
            count: 1
            path: src/Serializer/OdooNormalizer.php
        -
            message: '/Method Symfony\\Component\\Serializer\\Normalizer\\AbstractObjectNormalizer::supportsNormalization\(\) invoked with 3 parameters, 1-2 required\./'
            count: 1
            path: src/Serializer/OdooNormalizer.php
