<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.2/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="ODOO_API_HOST" value="https://demo5.odoo.com" />
        <env name="ODOO_API_DATABASE" value="demo5" />
        <env name="ODOO_API_USERNAME" value="admin" />
        <env name="ODOO_API_PASSWORD" value="admin" />
    </php>

    <testsuites>
        <testsuite name="Odoo API client Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
